// 변수 선언하기

// 메인 컬러 설정
$primary: #333333;
$secondary: #f5a623;

// Progress Bar Color

$bar1: #ff7575;
$bar2: #53bb34;
$bar3: #ffc70e;
$bar4: #29b1ee;

// bg color
$bg-color1: #fffef2;
$bg-color2: #504538;
$bg-color3: #fffef6e6;
$bg-color4: #e2e2e2;
$bg-color5: #333;
$bg-color6: #ccc;

// font color

$color1: #707070;
$color2: #000;
$color3: #2d2d2d;
$color4: #888;
$color5: #c00;
$color6: #c9a05f;

// margin

$m10: 10px;
$m20: 20px;
$m30: 30px;
$m40: 40px;
$m50: 50px;
$mt10: 10px;
$mt20: 20px;
$mt30: 30px;
$mt40: 40px;
$mt50: 50px;
$mb10: 10px;
$mb20: 20px;
$mb30: 30px;
$mb40: 40px;
$mb50: 50px;
$ma: 0 auto;

// padding

$p10: 10px;
$p20: 20px;
$p30: 30px;
$p40: 40px;
$p50: 50px;
$pt10: 10px;
$pt20: 20px;
$pt30: 30px;
$pt40: 40px;
$pt50: 50px;
$pb10: 10px;
$pb20: 20px;
$pb30: 30px;
$pb40: 40px;
$pb50: 50px;
